<% include layout/header.ejs %>

    <div class="main">
        <h1>Posts</h1>
        <div class="container">
            <div class="content">
                <% include blog.ejs %>
            </div>
            <% include layout/sidebar.ejs %>
        </div>
    </div>
    

<% include layout/footer.ejs %>