<style>
    .footer {
        display: flex;
        flex-direction: column;
        height: 49px;
        border-top: 1px solid #e8e8e8;
        background-color: #ffffff;
        position: relative;
        bottom: 0;
        width: 100%;
    }

    .container {
        height: 100%;
        line-height: 49px;
    }
</style>
</div>
<footer class="footer">
    <div class="container">
        footer
    </div>
</footer>

<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/medium-editor.min.js" type="text/javascript"></script>
<script src="/js/script.js" type="text/javascript"></script>
</body>

</html>